//// Core variables and mixins
//@import "variables";
//@import "mixins";
.footer{
    width: 100%;
    height: 100px;
    background: #b0cd93;
    line-height: 100px;
    text-align: center;
    font-size: 36px;
}
